<div>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" rel="nofollow" target="_blank" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/assets/icons/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}" target="_blank" title="Tweet"><img alt="Tweet" src="/assets/icons/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Ffrancescousai.info%2Fblog" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/assets/icons/Google+.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Ffrancescousai.info%2Fblog&title=Let%20the%20code%20talk" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="/assets/icons/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ffrancescousai.info%2Fblog&title=Let%20the%20code%20talk&summary=a%20blog%20about%20code%20with%20more%20code%20than%20prose&source=http%3A%2F%2Ffrancescousai.info%2Fblog" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/assets/icons/LinkedIn.png"></a></li>
  <li><a href="mailto:?subject=Let%20the%20code%20talk&body=a%20blog%20about%20code%20with%20more%20code%20than%20prose:%20http%3A%2F%2Ffrancescousai.info%2Fblog" target="_blank" title="Send email"><img alt="Send email" src="/assets/icons/Email.png"></a></li>
</ul>
</div>